data/2022-07-22-IcedID-with-DarkVNC-and-Cobalt-Strike.pcap
data/2022-07-22-IOCs-for-IcedID-with-DarkVNC-and-Cobalt-Strike.txt
data/Malware-Traffic-Analysis.net - 2022-07-21 - Files for ISC diary (Emotet with Cobalt Strike).pdf
data/page-link.txt
data/2021-02-25 - TA551 (SHATHAK) BACK TO PUSHING ICEDID (BOKBOT)/2021-02-25-IOCs-for-IcedID-from-TA551.txt
data/2021-02-25 - TA551 (SHATHAK) BACK TO PUSHING ICEDID (BOKBOT)/2021-02-25-TA551-IcedID-infection-traffic.pcap
data/2021-02-25 - TA551 (SHATHAK) BACK TO PUSHING ICEDID (BOKBOT)/desktop.ini
data/2021-02-25 - TA551 (SHATHAK) BACK TO PUSHING ICEDID (BOKBOT)/page-link.txt
data/2021-02-25 - TA551 (SHATHAK) BACK TO PUSHING ICEDID (BOKBOT)/screencapture-malware-traffic-analysis-net-2021-02-25-index-html-2022-10-13-23_20_48.pdf
data/2021-02-25 - TA551 (SHATHAK) BACK TO PUSHING ICEDID (BOKBOT)/only/only.csv
data/2021-02-25 - TA551 (SHATHAK) BACK TO PUSHING ICEDID (BOKBOT)/only/only.json
data/2021-02-25 - TA551 (SHATHAK) BACK TO PUSHING ICEDID (BOKBOT)/only/only.pcap
data/2021-02-25 - TA551 (SHATHAK) BACK TO PUSHING ICEDID (BOKBOT)/only/results.json
data/2021-04-29 (THURSDAY) - TA551 (SHATHAK) PUSHES ICEDID (BOKBOT)/2021-04-29-TA551-IcedID-infection-traffic.pcap
data/2021-04-29 (THURSDAY) - TA551 (SHATHAK) PUSHES ICEDID (BOKBOT)/2021-04-29-TA551-IcedID-IOCs.txt
data/2021-04-29 (THURSDAY) - TA551 (SHATHAK) PUSHES ICEDID (BOKBOT)/desktop.ini
data/2021-04-29 (THURSDAY) - TA551 (SHATHAK) PUSHES ICEDID (BOKBOT)/page-link.txt
data/2021-04-29 (THURSDAY) - TA551 (SHATHAK) PUSHES ICEDID (BOKBOT)/screencapture-malware-traffic-analysis-net-2021-04-29-index-html-2022-10-13-23_16_59.pdf
data/2021-04-29 (THURSDAY) - TA551 (SHATHAK) PUSHES ICEDID (BOKBOT)/only/only.json
data/2021-04-29 (THURSDAY) - TA551 (SHATHAK) PUSHES ICEDID (BOKBOT)/only/only.pcap
data/2021-05-24 (MONDAY) - TA551 (SHATHAK) WORD DOCS PUSH ICEDID (BOKBOT)/2021-05-24-TA551-IcedID-infection-traffic.pcap
data/2021-05-24 (MONDAY) - TA551 (SHATHAK) WORD DOCS PUSH ICEDID (BOKBOT)/2021-05-24-TA551-IOCs-for-IcedID.txt
data/2021-05-24 (MONDAY) - TA551 (SHATHAK) WORD DOCS PUSH ICEDID (BOKBOT)/desktop.ini
data/2021-05-24 (MONDAY) - TA551 (SHATHAK) WORD DOCS PUSH ICEDID (BOKBOT)/page-link.txt
data/2021-05-24 (MONDAY) - TA551 (SHATHAK) WORD DOCS PUSH ICEDID (BOKBOT)/screencapture-malware-traffic-analysis-net-2021-05-24-index-html-2022-10-13-23_16_19.pdf
data/2021-05-24 (MONDAY) - TA551 (SHATHAK) WORD DOCS PUSH ICEDID (BOKBOT)/only/only.json
data/2021-05-24 (MONDAY) - TA551 (SHATHAK) WORD DOCS PUSH ICEDID (BOKBOT)/only/only.pcap
data/2021-06-02 (WEDNESDAY) - TA551 (SHATHAK) WORD DOCS PUSH ICEDID (BOKBOT)/2021-06-02-IcedID-infection-traffic.pcap
data/2021-06-02 (WEDNESDAY) - TA551 (SHATHAK) WORD DOCS PUSH ICEDID (BOKBOT)/2021-06-02-TA551-IOCs-for-IcedID.txt
data/2021-06-02 (WEDNESDAY) - TA551 (SHATHAK) WORD DOCS PUSH ICEDID (BOKBOT)/desktop.ini
data/2021-06-02 (WEDNESDAY) - TA551 (SHATHAK) WORD DOCS PUSH ICEDID (BOKBOT)/page-link.txt
data/2021-06-02 (WEDNESDAY) - TA551 (SHATHAK) WORD DOCS PUSH ICEDID (BOKBOT)/screencapture-malware-traffic-analysis-net-2021-06-02-index-html-2022-10-13-23_15_07.pdf
data/2021-06-02 (WEDNESDAY) - TA551 (SHATHAK) WORD DOCS PUSH ICEDID (BOKBOT)/only/only.json
data/2021-06-02 (WEDNESDAY) - TA551 (SHATHAK) WORD DOCS PUSH ICEDID (BOKBOT)/only/only.pcap
data/2021-12-10 (FRIDAY) - TA551 (SHATHAK) ICEDID (BOKBOT) WITH COBALT STRIKE AND DARK VNC/2021-12-10-IOCs-for-TA551-IcedID-infection-with-Cobalt-Strike-and-DarkVNC.txt
data/2021-12-10 (FRIDAY) - TA551 (SHATHAK) ICEDID (BOKBOT) WITH COBALT STRIKE AND DARK VNC/2021-12-10-TA551-IcedID-with-Cobalt-Strike-and-DarkVNC.pcap
data/2021-12-10 (FRIDAY) - TA551 (SHATHAK) ICEDID (BOKBOT) WITH COBALT STRIKE AND DARK VNC/desktop.ini
data/2021-12-10 (FRIDAY) - TA551 (SHATHAK) ICEDID (BOKBOT) WITH COBALT STRIKE AND DARK VNC/page-link.txt
data/2021-12-10 (FRIDAY) - TA551 (SHATHAK) ICEDID (BOKBOT) WITH COBALT STRIKE AND DARK VNC/screencapture-malware-traffic-analysis-net-2021-12-10-index-html-2022-10-13-23_01_26.pdf
data/2021-12-10 (FRIDAY) - TA551 (SHATHAK) ICEDID (BOKBOT) WITH COBALT STRIKE AND DARK VNC/only/only.json
data/2021-12-10 (FRIDAY) - TA551 (SHATHAK) ICEDID (BOKBOT) WITH COBALT STRIKE AND DARK VNC/only/only.pcap
data/2022-01-05 (WEDNESDAY) - TA551 (SHATHAK) PUSHES ICEDID (BOKBOT) WITH COBALT STRIKE/2022-01-05-IOCs-for-TA551-IcedID-with-Cobalt-Strike.txt
data/2022-01-05 (WEDNESDAY) - TA551 (SHATHAK) PUSHES ICEDID (BOKBOT) WITH COBALT STRIKE/2022-01-05-TA551-IcedID-with-Cobalt-Strike.pcap
data/2022-01-05 (WEDNESDAY) - TA551 (SHATHAK) PUSHES ICEDID (BOKBOT) WITH COBALT STRIKE/desktop.ini
data/2022-01-05 (WEDNESDAY) - TA551 (SHATHAK) PUSHES ICEDID (BOKBOT) WITH COBALT STRIKE/Malware-Traffic-Analysis.net - 2022-01-05 (Wednesday) - TA551 (Shathak) pushes IcedID (Bokbot) with Cobalt Strike.pdf
data/2022-01-05 (WEDNESDAY) - TA551 (SHATHAK) PUSHES ICEDID (BOKBOT) WITH COBALT STRIKE/page-link.txt
data/2022-01-05 (WEDNESDAY) - TA551 (SHATHAK) PUSHES ICEDID (BOKBOT) WITH COBALT STRIKE/only/only.json
data/2022-01-05 (WEDNESDAY) - TA551 (SHATHAK) PUSHES ICEDID (BOKBOT) WITH COBALT STRIKE/only/only.pcap
data/2022-01-06 (THURSDAY) - TA551 (SHATHAK) PUSHES ICEDID (BOKBOT)/2022-01-06-IOCs-for-TA551-IcedID.txt
data/2022-01-06 (THURSDAY) - TA551 (SHATHAK) PUSHES ICEDID (BOKBOT)/2022-01-06-TA551-IcedID-infection.pcap
data/2022-01-06 (THURSDAY) - TA551 (SHATHAK) PUSHES ICEDID (BOKBOT)/desktop.ini
data/2022-01-06 (THURSDAY) - TA551 (SHATHAK) PUSHES ICEDID (BOKBOT)/Malware-Traffic-Analysis.net - 2022-01-06 (Thursday) - TA551 (Shathak) pushes IcedID (Bokbot).pdf
data/2022-01-06 (THURSDAY) - TA551 (SHATHAK) PUSHES ICEDID (BOKBOT)/page-link.txt
data/2022-01-06 (THURSDAY) - TA551 (SHATHAK) PUSHES ICEDID (BOKBOT)/only/only.json
data/2022-01-06 (THURSDAY) - TA551 (SHATHAK) PUSHES ICEDID (BOKBOT)/only/only.pcap
data/2022-01-12 (WEDNESDAY) - ICEDID (BOKBOT) WITH COBALT STRIKE AND DARKVNC/2022-01-12-IcedID-with-Cobalt-Strike-and-DarkVNC.pcap
data/2022-01-12 (WEDNESDAY) - ICEDID (BOKBOT) WITH COBALT STRIKE AND DARKVNC/2022-01-12-IOCs-for-IcedID-with-Cobalt-Strike-and-DarkVNC.txt
data/2022-01-12 (WEDNESDAY) - ICEDID (BOKBOT) WITH COBALT STRIKE AND DARKVNC/desktop.ini
data/2022-01-12 (WEDNESDAY) - ICEDID (BOKBOT) WITH COBALT STRIKE AND DARKVNC/Malware-Traffic-Analysis.net - 2022-01-12 (Wednesday) - IcedID (Bokbot) with Cobalt Strike and DarkVNC.pdf
data/2022-01-12 (WEDNESDAY) - ICEDID (BOKBOT) WITH COBALT STRIKE AND DARKVNC/page-link.txt
data/2022-01-12 (WEDNESDAY) - ICEDID (BOKBOT) WITH COBALT STRIKE AND DARKVNC/only/only.json
data/2022-01-12 (WEDNESDAY) - ICEDID (BOKBOT) WITH COBALT STRIKE AND DARKVNC/only/only.pcap
data/2022-05-10 (TUESDAY) - TA578 CONTACT FORMS CAMPAIGN -- ICEDID (BOKBOT) -- COBALT STRIKE/2022-05-10-Contact-Forms-IcedID-infection-with-Cobalt-Strike.pcap
data/2022-05-10 (TUESDAY) - TA578 CONTACT FORMS CAMPAIGN -- ICEDID (BOKBOT) -- COBALT STRIKE/2022-05-10-IOCs-for-Contact-Forms-IcedID-with-Cobalt-Strike.txt
data/2022-05-10 (TUESDAY) - TA578 CONTACT FORMS CAMPAIGN -- ICEDID (BOKBOT) -- COBALT STRIKE/desktop.ini
data/2022-05-10 (TUESDAY) - TA578 CONTACT FORMS CAMPAIGN -- ICEDID (BOKBOT) -- COBALT STRIKE/Malware-Traffic-Analysis.net - 2022-05-10 (Tuesday) - TA578 Contact Forms campaign --_ IcedID (Bokbot) --_ Cobalt Strike.pdf
data/2022-05-10 (TUESDAY) - TA578 CONTACT FORMS CAMPAIGN -- ICEDID (BOKBOT) -- COBALT STRIKE/page-link.txt
data/2022-05-10 (TUESDAY) - TA578 CONTACT FORMS CAMPAIGN -- ICEDID (BOKBOT) -- COBALT STRIKE/only/only.json
data/2022-05-10 (TUESDAY) - TA578 CONTACT FORMS CAMPAIGN -- ICEDID (BOKBOT) -- COBALT STRIKE/only/only.pcap
data/2022-05-23 (MONDAY) ICEDID (BOKBOT) INFECTION WITH DARKVNC TRAFFIC/2022-05-23-IcedID-infection-with-DarkVNC.pcap
data/2022-05-23 (MONDAY) ICEDID (BOKBOT) INFECTION WITH DARKVNC TRAFFIC/2022-05-23-IOCs-for-IcedID-and-DarkVNC.txt
data/2022-05-23 (MONDAY) ICEDID (BOKBOT) INFECTION WITH DARKVNC TRAFFIC/desktop.ini
data/2022-05-23 (MONDAY) ICEDID (BOKBOT) INFECTION WITH DARKVNC TRAFFIC/Malware-Traffic-Analysis.net - 2022-05-23 (Monday) IcedID (Bokbot) infection with DarkVNC traffic.pdf
data/2022-05-23 (MONDAY) ICEDID (BOKBOT) INFECTION WITH DARKVNC TRAFFIC/page-link.txt
data/2022-05-23 (MONDAY) ICEDID (BOKBOT) INFECTION WITH DARKVNC TRAFFIC/only/only.json
data/2022-05-23 (MONDAY) ICEDID (BOKBOT) INFECTION WITH DARKVNC TRAFFIC/only/only.pcap
data/2022-06-28 (TUESDAY) - TA578 ICEDID (BOKBOT) WITH DARKVNC AND COBALT STRIKE/2022-06-28-IOCs-for-TA578-IcedID-Cobalt-Strike-and-DarkVNC.txt.zip
data/2022-06-28 (TUESDAY) - TA578 ICEDID (BOKBOT) WITH DARKVNC AND COBALT STRIKE/2022-06-28-TA578-IcedID-with-DarkVNC-and-Cobalt-Strike.pcap.zip
data/2022-06-28 (TUESDAY) - TA578 ICEDID (BOKBOT) WITH DARKVNC AND COBALT STRIKE/desktop.ini
data/2022-06-28 (TUESDAY) - TA578 ICEDID (BOKBOT) WITH DARKVNC AND COBALT STRIKE/Malware-Traffic-Analysis.net - 2022-06-28 - TA578 IcedID (Bokbot) with DarkVNC and Cobalt Strike.pdf
data/2022-06-28 (TUESDAY) - TA578 ICEDID (BOKBOT) WITH DARKVNC AND COBALT STRIKE/page-link.txt
data/2022-07-06 (WEDNESDAY) - TA578 STOLEN IMAGES EVIDENCE -- ICEDID (BOKBOT) -- DARK VNC & COBALT STRIKE/2022-07-06-IOCs-for-TA578-contact-forms-IcedID-with-DarkVNC-and-Cobalt-Strike.txt.zip
data/2022-07-06 (WEDNESDAY) - TA578 STOLEN IMAGES EVIDENCE -- ICEDID (BOKBOT) -- DARK VNC & COBALT STRIKE/2022-07-06-TA578-Contact-Forms-IcedID-with-DarkVNC-and-Cobalt-Strike.pcap.zip
data/2022-07-06 (WEDNESDAY) - TA578 STOLEN IMAGES EVIDENCE -- ICEDID (BOKBOT) -- DARK VNC & COBALT STRIKE/desktop.ini
data/2022-07-06 (WEDNESDAY) - TA578 STOLEN IMAGES EVIDENCE -- ICEDID (BOKBOT) -- DARK VNC & COBALT STRIKE/Malware-Traffic-Analysis.net - 2022-07-06 - TA578 'Stolen Images Evidence' --_ IcedID (Bokbot) --_ DarkVNC and Cobalt Strike.pdf
data/2022-07-06 (WEDNESDAY) - TA578 STOLEN IMAGES EVIDENCE -- ICEDID (BOKBOT) -- DARK VNC & COBALT STRIKE/page-link.txt
data/2022-07-21 (THURSDAY) - ICEDID (BOKBOT) INFECTION WITH DARK VNC AND COBALT STRIKE/2022-07-22-IcedID-with-DarkVNC-and-Cobalt-Strike.pcap.zip
data/2022-07-21 (THURSDAY) - ICEDID (BOKBOT) INFECTION WITH DARK VNC AND COBALT STRIKE/2022-07-22-IOCs-for-IcedID-with-DarkVNC-and-Cobalt-Strike.txt.zip
data/2022-07-21 (THURSDAY) - ICEDID (BOKBOT) INFECTION WITH DARK VNC AND COBALT STRIKE/desktop.ini
data/2022-07-21 (THURSDAY) - ICEDID (BOKBOT) INFECTION WITH DARK VNC AND COBALT STRIKE/Malware-Traffic-Analysis.net - 2022-07-21 - Files for ISC diary (Emotet with Cobalt Strike).pdf
data/2022-07-21 (THURSDAY) - ICEDID (BOKBOT) INFECTION WITH DARK VNC AND COBALT STRIKE/page-link.txt
data/2022-07-25 (MONDAY) - ICEDID (BOKBOT) INFECTION WITH COBALT STRIKE/2022-07-25-IcedID-with-Cobalt-Strike-carved.pcap.zip
data/2022-07-25 (MONDAY) - ICEDID (BOKBOT) INFECTION WITH COBALT STRIKE/2022-07-25-IOCs-for-IcedID-with-Cobalt-Strike.txt.zip
data/2022-07-25 (MONDAY) - ICEDID (BOKBOT) INFECTION WITH COBALT STRIKE/desktop.ini
data/2022-07-25 (MONDAY) - ICEDID (BOKBOT) INFECTION WITH COBALT STRIKE/Malware-Traffic-Analysis.net - 2022-07-21 - IcedID with Cobalt Strike.pdf
data/2022-07-25 (MONDAY) - ICEDID (BOKBOT) INFECTION WITH COBALT STRIKE/page-link.txt
data/2022-07-27 (WEDNESDAY) - ICEDID (BOKBOT) ACTIVITY TWO INFECTION RUNS/2022-07-27-IcedID-infections-2-pcaps.zip
data/2022-07-27 (WEDNESDAY) - ICEDID (BOKBOT) ACTIVITY TWO INFECTION RUNS/2022-07-27-IOCs-for-IcedID.txt.zip
data/2022-07-27 (WEDNESDAY) - ICEDID (BOKBOT) ACTIVITY TWO INFECTION RUNS/desktop.ini
data/2022-07-27 (WEDNESDAY) - ICEDID (BOKBOT) ACTIVITY TWO INFECTION RUNS/Malware-Traffic-Analysis.net - 2022-07-27 - IcedID (Bokbot) activity_ two infection runs.pdf
data/2022-07-27 (WEDNESDAY) - ICEDID (BOKBOT) ACTIVITY TWO INFECTION RUNS/page-link.txt
data/2022-08-03 (WEDNESDAY) - ICEDID (BOKBOT) INFECTION WITH COBALT STRIKE/2022-08-03-IcedID-with-Cobalt-Strike.pcap.zip
data/2022-08-03 (WEDNESDAY) - ICEDID (BOKBOT) INFECTION WITH COBALT STRIKE/2022-08-03-IOCs-for-IcedID-and-Cobalt-Strike.txt.zip
data/2022-08-03 (WEDNESDAY) - ICEDID (BOKBOT) INFECTION WITH COBALT STRIKE/desktop.ini
data/2022-08-03 (WEDNESDAY) - ICEDID (BOKBOT) INFECTION WITH COBALT STRIKE/Malware-Traffic-Analysis.net - 2022-08-03 - IcedID (Bokbot) infection with Cobalt Strike.pdf
data/2022-08-03 (WEDNESDAY) - ICEDID (BOKBOT) INFECTION WITH COBALT STRIKE/page-link.txt
data/2022-08-08 (MONDAY) - ICEDID (BOKBOT) INFECTION WITH COBALT STRIKE/2022-08-08-IcedID-with-Cobalt-Strike.pcap.zip
data/2022-08-08 (MONDAY) - ICEDID (BOKBOT) INFECTION WITH COBALT STRIKE/2022-08-08-IOCs-for-IcedID-and-Cobalt-Strike.txt.zip
data/2022-08-08 (MONDAY) - ICEDID (BOKBOT) INFECTION WITH COBALT STRIKE/desktop.ini
data/2022-08-08 (MONDAY) - ICEDID (BOKBOT) INFECTION WITH COBALT STRIKE/Malware-Traffic-Analysis.net - 2022-08-08 - IcedID (Bokbot) infection with Cobalt Strike.pdf
data/2022-08-08 (MONDAY) - ICEDID (BOKBOT) INFECTION WITH COBALT STRIKE/page-link.txt
data/2022-08-31 (WEDNESDAY) - ICEDID (BOKBOT) WITH COBALT STRIKE/2022-08-31-IcedID-with-Cobalt-Strike-carved-and-sanitized.pcap.zip
data/2022-08-31 (WEDNESDAY) - ICEDID (BOKBOT) WITH COBALT STRIKE/desktop.ini
data/2022-08-31 (WEDNESDAY) - ICEDID (BOKBOT) WITH COBALT STRIKE/Malware-Traffic-Analysis.net - 2022-08-31 - IcedID (Bokbot) with Cobalt Strike.pdf
data/2022-08-31 (WEDNESDAY) - ICEDID (BOKBOT) WITH COBALT STRIKE/page-link.txt
data/2022-09-23 (FRIDAY)-ICEDID-(BOKBOT)-INFECTION-WITH-COBALT-STRIKE/2022-09-23-IcedID-infection-with-Cobalt-Strike.pcap.zip
data/2022-09-23 (FRIDAY)-ICEDID-(BOKBOT)-INFECTION-WITH-COBALT-STRIKE/2022-09-23-IcedID-malware-and-artifacts.zip
data/2022-09-23 (FRIDAY)-ICEDID-(BOKBOT)-INFECTION-WITH-COBALT-STRIKE/2022-09-23-IOCs-for-IcedID-and-Cobalt-Strike.txt.zip
data/2022-09-23 (FRIDAY)-ICEDID-(BOKBOT)-INFECTION-WITH-COBALT-STRIKE/desktop.ini
data/2022-09-23 (FRIDAY)-ICEDID-(BOKBOT)-INFECTION-WITH-COBALT-STRIKE/Malware-Traffic-Analysis.net - 2022-09-23 - IcedID (Bokbot) infection with Cobalt Strike.pdf
data/2022-09-23 (FRIDAY)-ICEDID-(BOKBOT)-INFECTION-WITH-COBALT-STRIKE/page-link.txt
normal/2022-10-28_canves.pcapng
normal/2022-10-28_Trello.pcap
normal/2022-10-28.pcapng
normal/GoogleDocDownload_gmail.pcapng
normal/steam_msoffice.pcapng
normal/YTB_Discord_Web.pcapng
zeek_docker/dockerfile
zeek_docker/data/2022-07-22-IcedID-with-DarkVNC-and-Cobalt-Strike.pcap
zeek_docker/data/conn.log
zeek_docker/data/dce_rpc.log
zeek_docker/data/dhcp.log
zeek_docker/data/dns.log
zeek_docker/data/dpd.log
zeek_docker/data/files.log
zeek_docker/data/http.log
zeek_docker/data/kerberos.log
zeek_docker/data/ntlm.log
zeek_docker/data/ocsp.log
zeek_docker/data/packet_filter.log
zeek_docker/data/smb_files.log
zeek_docker/data/smb_mapping.log
zeek_docker/data/ssl.log
zeek_docker/data/weird.log
zeek_docker/data/x509.log
